// General Resets

body {
  background: #181c21;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// Colors

.background-success {
  background: #45D14C;
}

.background-unrated {
  background: #3D4754;
}

.background-malicious {
  background: #ED3E3B;
}

.background-suspicious {
  background: #FF9250;
}

.background-benign {
  background: #45D14C;
}

.background-recon {
  background: #64B5F6;
}

.background-access {
  background: #FBEF65;
}

.background-other {
  background: #605F9C;
}

.background-c2 {
  background: #EF9C31;
}

.background-action {
  background: #EF5350;
}

// Page Styling

.contentWrapper {
  padding: 24px;
}

.pageExtendedHeader {
  background: #13171B;
  height: 128px;
}

.pageExtendedHeaderOffset {
  margin-top: -64px;
}

.detectionDetailSection {
  padding: 16px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,.06);
  }
}

.toolbarHeader {
  flex-grow: 1;
}

// Page Hero Component

.heroOffset {
  margin-top: -96px;
}

// Breadcrumbs

.breadcrumbs {
  .breadcrumb {
    &:first-child {
      display: none;
    }
  }
}

// Simple Components

.dot {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  &.outlined {
    border: 1px solid rgba(255,255,255,.5);
    height: 5px;
    width: 5px;
  }
}

// Timeline Styling

.ironTimelineSmall {
  position: relative;
  text-align: center;
  margin-bottom: -4px;
  margin-top: -4px;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: rgba(255,255,255,.12);
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  .dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
      margin-right: 0;
    }
  }
}

// Button Styling

.MuiIconButton-root.iconButtonOutlined {
  border: 1px solid rgba(255,255,255,.05);
}

// Tooltip Styling

.ironTooltip {
  position: relative;
  & .tooltip {
    background: #2B323B;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    position: absolute;
    top: calc(100% + 8px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    transform: translateY(2px);
    &::after {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      transform: rotate(45deg);
      background: #2B323B;
      top: -4px;
    }
  }
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
  }
}

// React Grid Layout CSS

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(30, 125, 250, 0.05);
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-color: rgba(255,255,255,.05);
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}